certifi==2019.11.28
chardet==3.0.4
idna==2.8
requests==2.22.0
urllib3==1.25.7
flask==1.1.1
flask_admin==1.5.4
flask-sqlalchemy==2.4.1
flask-migrate==2.5.2
flask_script==2.0.6
psycopg2==2.8.4
flask-restplus==0.13.0
marshmallow-sqlalchemy==0.21.0
flask-marshmallow==0.10.1
flask_login==0.4.1
flask-wtf==0.14.2
dotenv-config==0.1.4
websockets==8.1
asyncio-nats-client[nkeys]
aiopg==1.0.0
asyncpg==0.20.1
werkzeug==0.16

